[Desktop Entry]
Version=1.0
Name=Terminal
Comment=Open a gnome-terminal and run tmux.
Exec=gnome-terminal -e "tmux new"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;
